<!-- login index page with twitter auth.  might add instagram. -->
<a href="/auth/twitter">connect with twitter</a>
<a href="/auth/google_oauth2">connect with google</a>
<!-- <a href="/auth/instagram">connect with instagram</a> -->
