<div class="jumbotron">
  <h1>booKlub</h1>
  <p class="lead">Up your reading game with this simple to operate online bookclub</p>
  <p>
    <a class="btn btn-lg btn-twitter" href="/auth/twitter" role="button">connect with twitter <i class="fa fa-twitter"></i></a>
    <!-- <a class="btn btn-lg btn-success" href="/auth/google_oauth2" role="button">connect with google</a> -->
  </p>
</div>

<div class="row marketing">
  <div class="col-lg-6 text-center">
    <h4>Search for titles</h4>
    <p>Search for any book to add to your lub.</p>

    <h4>Start your own lub</h4>
    <p>Start a lub, choose a book, invite some fellow afficionados.</p>

    <h4>Join an existing lub</h4>
    <p>Join a lub that already exists.</p>
  </div>

  <div class="col-lg-6 text-center">
    <h4>Invite friends</h4>
    <p>Invite some peeps to your lub.</p>

    <h4>Discuss the book</h4>
    <p>Talk about the book with other members of your lub.</p>

    <h4>Sign in with twitter</h4>
    <p>Sign into booKlub through your twitter account, provided you have one.</p>
  </div>
</div>
