<div class="jumbotron">
  <h1>booKlub</h1>
  <p class="lead">Up your reading game with this simple to operate online bookclub</p>
  <p>
    <a class="btn btn-lg btn-success" href="/auth/twitter" role="button">connect with twitter</a>
    <a class="btn btn-lg btn-success" href="/auth/google_oauth2" role="button">connect with google</a>
  </p>
</div>
