<h2>dashboard</h2>

<!-- button to create new bookclub -->
<button class="btn btn-default" name="button"><%= link_to "Start a bookclub", new_bookclub_path %></button>
<!-- list of books that link to bookclub show view -->
<table class="table table-condensed">
  <thead>
    <tr>
      <th>
        bookclubs:
      </th>
    </tr>
  </thead>
  <tbody>
    <% @bookclubs.each do |bookclub| %>
    <tr>
      <td>
        <%= link_to bookclub.name, bookclub_path(bookclub) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
