hey wes you're awesome, welcome to your dashboard

<!-- button to create new bookclub -->
<%= link_to "Start a bookclub", new_bookclub_path %>
<!-- list of books that link to bookclub show view -->
<ul>
  list of book clubs:
  <% @bookclubs.each do |bookclub| %>
  <li><%= link_to bookclub.name, bookclub_path(bookclub) %></li>
  <% end %>
</ul>
