@import "bootstrap-sprockets";
@import "bootstrap";

.nav-bar,   .nav{
  background: rgba(232,221,203, 1);
  text-align: center;
}

.fatty-footer {
  background-color: rgba(3,54,73, 1);
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 134px;
}

.search-field {
  background: transparent;
}

.description-box {
  width: 30%;
}

.current-user {
  text-size: 2em;
}

.auth-links {
  float: right;
  margin: 20px;
}

a:hover{
  text-decoration:none
}

.footer-icons {
  margin-left: 25%;
  margin-right: 25%;
  padding: 40px;
  text-align: center;
}

.book-title {
  text: 1.5em;
  font-size: 4em;
}
